<form class="form-horizontal">
    <h4>{{ _('Credentials') }}</h4>
    <p>
        Enter your email &amp; password according to what you would use to log in to <a href="https://www.tplinkcloud.com/" target="_blank">tplinkcloud.com</a>.
        Also enter the name of the switch to toggle (the same as it is listed in the Kasa app). Save the Settings, then come back here and test out the
        &quot;Turn On&quot; &amp; &quot;Turn Off&quot; buttons.
    </p>
    <div class="control-group">
        <label class="control-label">{{ _('Email') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.KasaCloud.email">
        </div>
        <label class="control-label">{{ _('Password') }}</label>
        <div class="controls">
            <input type="password" class="input-block-level" data-bind="value: settings.settings.plugins.KasaCloud.password">
        </div>
        <label class="control-label">{{ _('Device Name') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.KasaCloud.device_alias">
        </div>
    </div>
    <div>
        <a href="#" class="btn btn-danger" data-bind="click: $root.turnOn">{{ _('Turn On') }}</a>
    </div>
    <div>
        <a href="#" class="btn btn-danger" data-bind="click: $root.turnOff">{{ _('Turn Off') }}</a>
    </div>
    <div>
        <div id="response"></div>
    </div>
</form>